*.vcd
*.log
*.logv
*.out
*.tb
*.vvp
mips32_tb
test

*.history
*.sdc
*.rpt
*.sdf
*.saif
*.vnet
*.spef
*.enc
*.dat
*.svf
*.trn
*.dsn
*.view
*.bin
*.X
*.zip
*.cmd
*.pl

# Cadence/Innovus/Design Compiler等
xcelium.d/
WORK/
.simvision/
.cadence/
nangate45/
tsmc16/
timingReports/
DDCA_Verilog/

# 一時ファイル
*.swp
*~